
#corp{
	height: auto;
	width: 500px;
	margin:auto;
}
#UserList{
	height: auto;
	width:500px;
	border: 
	background-color: ;
}
#UserName{
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
}
div.User{
	height: 140px;
	width: 470px;
	background-color:;
}
.UserName{
	font-size: 15px;
	color: #000;
}
.Address{
	font-size: 12px;
	color: #888;
}
.email{
	
}
